{{#partial "content"}}
    <table class="table">
        <thead>
        <tr class="headerNew">
            <th scope="col">#</th>
            <th scope="col">UNDERTAKERS</th>
            <th scope="col">FIRECRACKERS</th>
            <th scope="col">VINDICATORS</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            {{#if heros}}
                {{#if  }}
                    <td>
                        {{#each heros}}
                            <p>Hero Name: {{ heroName }}</p>
                            <p>Hero Super-Power: {{ heroSuperPower }}</p>
                            <p>Hero Code-Name: {{ codeName }}</p>
                            <P>{{ superSquadName}}</P>
                        {{/each}}
                    </td>
                {{else if}}

                    <td>
                        {{#each heros}}
                            <p>Hero Name: {{ heroName }}</p>
                            <p>Hero Super-Power: {{ heroSuperPower }}</p>
                            <p>Hero Code-Name: {{ codeName }}</p>
                        {{/each}}
                    </td>
                {{else}}
                    <td>
                        {{#each heros}}
                            <p>Hero Name: {{ heroName }}</p>
                            <p>Hero Super-Power: {{ heroSuperPower }}</p>
                            <p>Hero Code-Name: {{ codeName }}</p>
                         {{/each}}
                    </td>
                {{/if}}
            {{/if}}
        </tr>
        </tbody>
    </table>

    <h5>Hero status:</h5>
    <p>
        {{#if heros}}
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>  HERO IS REGISTERED
        {{/if}}
        <a href="/heros/{{hero.id}}/update">EDIT THIS HERO</a><br>
        <a href="/heros/{{hero.id}}/delete">DELETE THIS HERO</a>
    </p>

{{/partial}}
{{> layout.hbs}}